
.dropdown {
   box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    background-color: #ddd;
    text-shadow: 1px 1px 2px #fff;
    margin: 0;
}

.dropdown > li {
    padding: 0 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #8a6;
    border: 1px solid #969696;
}

.dropdown li:hover > a {
    color: #fff;
    text-shadow: none;
}
.dropdown li:hover > ul {
    display: block;
}

.dropdown a{
    color: #000;
    text-decoration: none;
}
.dropdown ul {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #969696;
    min-width: 160px;
    box-shadow: 1px 1px 2px #ccc;
    margin: 0;
    z-index: 1;
    list-style-type: none;
}


.dropdown ul li {
    background-color: #f7f7f7;
    text-align: left;
    border: 1px solid #f7f7f7;
}

.dropdown ul li:hover {
    border: 1px solid #969696;
}

.dropdown .item-icon {
display: inline-block;
width: 24px;
}

.dropdown .menu-submenu-icon:before {
display: inline;
    content: "\25B8";
}
